name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-home-cache-cleanup: true

    - name: Run Tests
      run: |
        chmod +x ./gradlew
        ./gradlew test --info

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        path: build/test-results/test/

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: JUnit Tests
        path: build/test-results/test/TEST-*.xml
        reporter: java-junit
        fail-on-error: true

    - name: Build with Gradle
      if: success()
      run: ./gradlew build --no-daemon

    - name: Build and push Docker image
      if: success()
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ghcr.io/${{ github.repository }}:latest
